[run]
relative_files = true

[report]
; Regexes for lines to exclude from consideration
exclude_also =
    ; Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    ; Don't complain if non-runnable code isn't run:
    if TYPE_CHECKING:

    ; Don't complain about abstract and overloaded methods
    @(abc\.)?abstractmethod
    @overload