[tool.poetry]
name = "ampel-interface"
version = "0.7.1-alpha.7"
description = "Base classes for the Ampel analysis platform"
authors = [
    "Valery Brinnel"
]
maintainers = [
    "Jakob van Santen <jakob.van.santen@desy.de>"
]
license = "BSD-3-Clause"
readme = "README.md"
homepage = "https://ampelproject.github.io"
repository = "https://github.com/AmpelProject/Ampel-interface"
classifiers = [
    "Development Status :: 4 - Beta",
    "Intended Audience :: Science/Research",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Typing :: Typed",
]
packages = [
    {include = "ampel"}
]

[tool.poetry.dependencies]
python = "^3.8"
pydantic = "~1.4"
pymongo = "^3.10"
PyYAML = "^5.4.1"
Sphinx = {version = "^3.5.1", optional = true}
sphinx-autodoc-typehints = {version = "^1.11.1", optional = true}
tomlkit = {version = "^0.7.0", optional = true}

[tool.poetry.dev-dependencies]
pytest = "^6.2.2"
pytest-cov = "^2.11.1"
mypy = "^0.800"

[tool.poetry.extras]
docs = ["Sphinx", "sphinx-autodoc-typehints", "tomlkit"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
