on:
  workflow_call:
    inputs:
      mongo:
        required: false
        description: start a mongo instance for tests
        type: boolean
        default: false
      lint:
        required: false
        description: lint with ruff
        type: boolean
        default: false
      format:
        required: false
        description: check formatting with ruff
        type: boolean
        default: false
      python-version:
        required: false
        type: string
        # renovate: datasource=python-version depName=python
        default: "3.14.1"
      poetry-version:
        required: false
        type: string
        # renovate: datasource=pypi depName=poetry depType=dev versioning=pep440
        default: "2.2.1"
      ruff-version:
        required: false
        type: string
        # renovate: datasource=pypi depName=ruff depType=dev versioning=pep440
        default: "0.14.7"
      mypy-check-files:
        required: false
        description: extra files to check with mypy
        type: string
        default: ""
    outputs:
      should_publish:
        description: "Should we publish a new version to PyPI?"
        value: ${{ jobs.check_version.outputs.should_publish }}

jobs:

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: ruff format
      uses: chartboost/ruff-action@e18ae971ccee1b2d7bbef113930f00c670b78da4 # v1
      with:
        version: ${{ inputs.ruff-version }}
        args: format --check --diff
      env:
        RUFF_FORMAT: github
      if: ${{ inputs.format }}
    - name: ruff check
      uses: chartboost/ruff-action@e18ae971ccee1b2d7bbef113930f00c670b78da4 # v1
      with:
        version: ${{ inputs.ruff-version }}
      env:
        RUFF_FORMAT: github
      if: ${{ inputs.lint }}

  test:
    runs-on: ubuntu-24.04
    needs: [lint]
    services:
      mongo:
        # hobo conditional service; see https://github.com/actions/runner/issues/822#issuecomment-1831511432
        image: ${{ (inputs.mongo && 'mongo:8') || '' }}
        ports:
          - 27017:27017
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: "Set up environment"
      uses: packetcoders/action-setup-cache-python-poetry@0d0be5577b30d85f3fa2d93a4beeda149520f120 # v1.2.0
      with:
        python-version: ${{ inputs.python-version }}
        poetry-version: ${{ inputs.poetry-version }}
        install-args: --all-extras --compile --sync
    - name: Install root
      run: poetry run pip install -e . --no-deps
    - run: poetry run pytest
      env:
        MONGO_PORT: ${{ job.services.mongo.ports[27017] }}
  
  mypy:
    runs-on: ubuntu-24.04
    needs: [lint]
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - name: "Set up environment"
      uses: packetcoders/action-setup-cache-python-poetry@0d0be5577b30d85f3fa2d93a4beeda149520f120 # v1.2.0
      with:
        python-version: ${{ inputs.python-version }}
        poetry-version: ${{ inputs.poetry-version }}
        install-args: --all-extras --compile --sync
    - name: Install root
      run: poetry run pip install -e . --no-deps
    - run: poetry run mypy
    - if: ${{ inputs.mypy-check-files }}
      run: poetry run mypy ${{ inputs.mypy-check-files }}

  build:
    runs-on: ubuntu-24.04
    needs: [test, mypy]
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: hynek/build-and-inspect-python-package@v2

  check_version:
    name: Tag version bump
    runs-on: ubuntu-24.04
    # run only on pushes, not PRs
    if: ${{ github.event_name == 'push' && github.base_ref == null }}
    needs: build
    outputs:
      should_publish: ${{ steps.check.outputs.should_publish }} 
    steps:
    - uses: jvansanten/action-tag-poetry-version-bump@4b414cab984b5cf6507593525a1dea5789f886de # v1.1
      id: check
