name: ci

on:
  push:
    branches:
      - master
      - renovate/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - v0.8.x
      - stable/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
    secrets: inherit
    with:
      lint: true
      mypy-check-files: tests
