name: ci

on:
  push:
    branches:
      - master
      - renovate/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*
    tags:
      - v*
  pull_request:
    branches:
      - master
      - v0.8.x
      - stable/*
      - dev/*
      - feature/*
      - fix/*
      - refactor/*

jobs:
  ci:
    uses: ./.github/workflows/ci.yml
  # Need to keep this step separate until pypi trusted publishing supports reusable workflows: https://github.com/pypi/warehouse/issues/11096
  pypi:
    needs: ci
    runs-on: ubuntu-24.04
    # NB: outputs are always strings; explicitly parse to get a boolean
    if: ${{ fromJSON(needs.ci.outputs.should_publish) }}    
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing, but
      # should NOT be granted anywhere else!
      id-token: write

    steps:
      - name: Download built artifact to dist/
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          name: Packages
          path: dist
      - uses: pypa/gh-action-pypi-publish@release/v1
